body {
	background-image: url(img/train.jpg);
}

#test {
	transform: rotate(0deg) scale(0.6);
	transition: 1s all;
	
	background-color: #FADE07;
	color: black;
	padding: 15px;
	margin: 150px;
	border: 7px solid #D85346;
	border-radius: 10px;
	opacity: 0.7;
	box-shadow: 55px -55px 54px #000000; 
	width: 20%;
	height: 80px;
	text-align: center;
	font-size: 30px;
	font-weight: 800;
}

#test:hover {
	opacity: 1;
}

#test:hover {
	transform: rotate(360deg) scale(0.6);
	background-color: red;
}